body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header, footer {
    background-color: #333;
    color: rgb(250, 6, 6);
    text-align: center;
    padding: 1em 0;
}

section {
    margin: 20px;
}

form {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    margin-bottom: 20px;
}

label {
    margin-bottom: 5px;
}

button {
    background-color: #333;
    color: white;
    padding: 8px;
    cursor: pointer;
}

.book {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
}

.book button {
    background-color: #4CAF50;
    color: white;
    padding: 5px;
    cursor: pointer;
}